In [ ]:
#Data Types and Structures Questions

In [ ]:
 #What are data structures, and why are they important?

 #Data structures are ways of organizing and storing data to perform operations efficiently.
 #They are crucial for managing data in software development, optimizing performance, and solving problems logically.#

In [ ]:
#2.Explain the difference between mutable and immutable data types with examples

#Mutable data types can be changed after creation (e.g., lists), while immutable ones cannot (e.g., tuples).

In [ ]:
# 3. What are the main differences between lists and tuples in Python ?

#Lists are mutable and use square brackets [ ], while tuples are immutable and use parentheses ( ).

In [ ]:
#4.Describe how dictionaries store data
#Dictionaries store data as key-value pairs, where each key maps to a specific value.

In [ ]:
#5.Why might you use a set instead of a list in Python

#You might use a set instead of a list to store unique items and perform fast membership tests.

In [ ]:
#6 What is a string in Python, and how is it different from a list

#A string is an immutable sequence of characters, while a list is a mutable sequence that can hold any data type.

In [ ]:
 #7 How do tuples ensure data integrity in Python
 #Tuples ensure data integrity by being immutable, preventing any accidental changes to their contents.

In [ ]:
#8 What is a hash table, and how does it relate to dictionaries in Python

#A hash table is a data structure that maps keys to values using a hash function,
#and Python dictionaries are implemented using hash tables.

In [ ]:
#9 Explain why strings are immutable in Python

#Strings are immutable inDescribe a scenario where using a tuple would be preferable over a listP Python to ensure memory efficiency, security, and reliable
# behavior when used as dictionary keys or in multithreaded programs.

In [ ]:
#10 Can lists contain different data types in Python

#Yes, lists in Python can contain elements of different data types, such as integers, strings, and objects.

In [ ]:
#11 What advantages do dictionaries offer over lists for certain tasks

#Dictionaries offer faster lookups and better organization for key-value paired data compared to lists.

In [4]:
#12 Describe a scenario where using a tuple would be preferable over a list

#A tuple is preferable when you need to store fixed, unchangeable data like coordinates or days of the week.

In [5]:
#13 How do sets handle duplicate values in Python

#Sets automatically eliminate duplicate values, storing only unique elements in Python.

In [6]:
#14 How does the “in” keyword work differently for lists and dictionaries

#In lists, in checks for the presence of a value; in dictionaries, it checks for the presence of a key.

In [7]:
#15 Can you modify the elements of a tuple? Explain why or why not

#No, you cannot modify elements of a tuple because tuples are immutable, meaning their contents cannot be changed after creation.

In [9]:
#16 What is a nested dictionary, and give an example of its use case

#A nested dictionary is a dictionary inside another dictionary, useful for storing complex data like student records with multiple attributes.

students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

In [10]:
#17 Describe the time complexity of accessing elements in a dictionary
#Accessing elements in a dictionary has an average time complexity of O(1) due to its underlying hash table implementation.

In [11]:
 #18 In what situations are lists preferred over dictionaries

 #Lists are preferred over dictionaries when you need an ordered collection of items accessed by position (index) rather than by key.

In [12]:
#19 Why are dictionaries considered unordered, and how does that affect data retrieval3

#Dictionaries were considered unordered before Python 3.7, meaning key order wasn't guaranteed,
#but now they preserve insertion order; this affects data retrieval if order matters.

In [13]:
#20 Explain the difference between a list and a dictionary in terms of data retrieval.

#A list retrieves data by index position, while a dictionary retrieves data using unique keys.

In [14]:

# Write a code to create a string with your name and print it

name = "Aman Kudaskar"
print(name)

Aman Kudaskar

In [15]:
#Write a code to find the length of the string "Hello World"

text = "Hello World"
print(len(text))

11

In [16]:
#Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [17]:
#Write a code to convert the string "hello" to uppercase

text = "hello"
print(text.upper())

HELLO

In [18]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [19]:
#Write a code to create a list with numbers 1 to 5 and print it

number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

In [20]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]P

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [21]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [22]:
 #Write a code to access the second element in the list ['a', 'b', 'c', 'd']
 letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [24]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [25]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
values = (100, 200, 300)
print(values)

(100, 200, 300)

In [26]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [28]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [29]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [30]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [31]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'c', 'a', 'b'}

In [32]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [33]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [34]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [35]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [36]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [37]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [39]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [42]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2, 'c': 3}

In [43]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced

import random

numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[1, 5, 8, 81, 89]

In [44]:
#28 Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [45]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [46]:
#30. Write a code to convert a list of strings into a set.
fruits = ["apple", "banana", "apple", "cherry"]
fruit_set = set(fruits)
print(fruit_set)

{'apple', 'cherry', 'banana'}